/* BODY and FONTS */
.my-btn-info,
.my-btn-buy,
.my-btn-sign,
body{
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

body h1{
    font-size: 2.75rem;
}

.my-text-blue{
    color: rgb(0, 114, 206);
}

.my-text-grey{
    color: rgb(131, 131, 131);
}

/* BUTTONS */
.my-btn-sign{
    padding: 7px 15px 12px 15px;
}

.my-btn-buy{
    background-color: rgb(205, 61, 15);
}

.my-btn-info{
    background-color: rgb(45, 100, 230);
}

/* BACKGROUNDS */
#jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

#it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

#new{
    background-color: rgb(31, 31, 31);
}

#now{
    background-color: rgb(22, 28, 59);
}

footer{
    background-color: rgb(0, 67, 156);
}

#sony{
    background-color: black;
}

#plus{
    background-color: rgb(190, 188, 187);
}

/* IMAGES */
#sony img{
    width: 95px;
    margin: 12px 0;
}
#search{
    width: 30px;
}

#new img,
#jumbo-banner img{
    border-radius: 15px;
}

.my-img-width{
    width: 65%;
}

#logo-ps{
    width: 20%;
}

#logo-sie{
    width: 25%;
}

/* HEIGHT (JUMBO AND IT-TAKES-TWO SECTION) */
.height-670{
    height: 670px
}

