.my-btn-sign{
    padding: 7px 15px 12px 15px;
}

.my-btn-buy{
    background-color: rgb(205, 61, 15);
}

.my-btn-info{
    background-color: rgb(45, 100, 230);
}

#search{
    width: 30px;
}

#sony{
    font-family: 'roboto serif', sans-serif;
}

body{
    font-family: 'Roboto' , snas-serif;
    font-weight: 500;
}

#jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

#it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

#new{
    background-color: rgb(31, 31, 31);
}

.height-670{
    height: 670px
}

#new img,
#jumbo-banner img{
    border-radius: 15px;
}

#it-takes-two h1{
    font-size: 2.75rem;
}

#plus{
    background-color: rgb(190, 188, 187);
}

.my-text-blue{
    color: rgb(0, 114, 206);
}

.my-text-grey{
    color: rgb(131, 131, 131);
}

.my-img-width{
    width: 65%;
}