.my-btn-sign{
    padding: 7px 15px 12px 15px;
}

.my-btn-buy{
    background-color: rgb(205, 61, 15);
}

.my-btn-info{
    background-color: rgb(45, 100, 230);
}

#search{
    width: 30px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

#it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

.height-670{
    height: 670px
}

#jumbo-banner img{
    border-radius: 15px;
}

.my-text-blue{
    color: rgb(0, 114, 206);
}

.my-text-grey{
    color: rgb(107, 107, 107);
}